<h1>Request ID: {{request_id}}</h1>

<p>{{request.request.description}}</p>
<br>

<ul class="request-comments">
    {% for comment in comments.comments %}
      <li class="request-comment">
        <div class="comment-body">
          <p>{{ comment.body|e }}</p>
        </div>
        <div class="comment-meta">
          <p>Said {{ comment.author_id }} on {{ comment.created_at }}</p>
        </div>
      </li>
    {% endfor %}
</ul>

{{ form }}
